.card-header{
    text-align: left;
}
.botones-de-abajo{
    text-align: right;
}
.left1 {
    text-align: left;
}
.formulary{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.inline1{
    display: inline-block;
}
.color1{
    background-color: gray;
    color: white ;
    padding: 5px;
    margin-left: 0%;
    margin-right: 60%;
}
.notes{
    color: gray;
    font-size: small;
}